<footer class="footer">
    <ul class="list-inline text-center">
        <li>
            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                <span class="fa-stack fa-lg">
                    <i class="iconfont icon-twitter"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                <span class="fa-stack fa-lg">
                    <i class="iconfont icon-facebook"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/<%= config.github_username %>">
                <span class="fa-stack fa-lg">
                    <i class="iconfont icon-github"></i>
                </span>
            </a>
        </li>
    </ul>
    <p>
        Created By Jbee with <a href="https://hexo.io/">Hexo</a> Theme JbeeCloud Inspired <a href="https://github.com/aircloud/hexo-theme-aircloud">AirCloud</a>
    </p>
</footer>
